In [2]:
#Importations
import re
import numpy as np
from collections import namedtuple
import pandas as pd

In [3]:
#Telechargement du csv, etiquetage des colonnes et suprression des annonces redondantes
df = pd.read_csv("listings.csv", names=["id", "type", "nb_pieces", "loc", "surface", "prix"], header=0).drop_duplicates()

In [4]:
#Modification des types
df['id'] = df['id'].astype(str)
df['type'] = df['type'].astype(str)
df['nb_pieces'] = pd.to_numeric(df['nb_pieces'], errors='coerce').astype('Int64')
df['loc'] = df['loc'].astype(str)
df['surface'] = pd.to_numeric(df['surface'], errors='coerce').astype('Int64')
df['prix'] =pd.to_numeric(df['prix'].str.replace(' ', '').str.replace('€', ''), errors='coerce').astype('Int64')

In [5]:
df.dtypes

id           object
type         object
nb_pieces     Int64
loc          object
surface       Int64
prix          Int64
dtype: object

In [6]:
#Gerer les NAN
#Gérer les nan du aux studios
df.loc[(df['type'] == 'Studio') & (pd.isnull(df['nb_pieces'])), 'nb_pieces'] = 1 # Si studio, 1 chambre
df

,id,type,nb_pieces,loc,surface,prix
0,apimo-85473173,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),29,364000
1,hektor-Les-4-Quartiers-383,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),23,301000
2,hektor-PARISLUXURYHOMES-4007,Appartement,5,75002 Paris 2e (Palais Royal),106,2490000
3,ag754594-448898324,Studio,1,75001 Paris 1er (Saint-Germain - L'Auxerrois),27,365000
5,keller-williams-1-34_1_53-180645,Appartement,2,75001 Paris 1er (Vendôme),67,1190000
...,...,...,...,...,...,...
19726,ag755800-412953689,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),35,239600
19753,century-21-202_480_27885,Appartement,3,75020 Paris 20e (Plaine - Lagny),63,539000
19758,netty-company34605jrw-appt-3212,Appartement,1,75020 Paris 20e (Gambetta),27,215000
19767,demathieu-bard-immobilier-PR5E0076,GAMBETTA,<NA>,75020 Paris 20e (Gambetta),<NA>,<NA>
19776,ag933277-381424162,Appartement,1,75020 Paris 20e (Gambetta),39,445900

In [7]:
#Supprimer les lignes restantes avec des NaN qui sont ,ici, des lignes avec soit nb_pieces, surface, prix None
df=df.dropna()

In [8]:
#Filtration pour ne pas avoir des types de batiments mals renseigné ou mal scrappé
df["count"] = df['type'].map(df['type'].value_counts()) #Enlever les types avec trop peu d'apparitions (qui sont des erreurs)
df=df[df["count"] > 10]
df=df.drop("count", axis=1)
df

/tmp/ipykernel_420100/3289413939.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["count"] = df['type'].map(df['type'].value_counts()) #Enlever les types avec trop peu d'apparitions (qui sont des erreurs)

,id,type,nb_pieces,loc,surface,prix
0,apimo-85473173,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),29,364000
1,hektor-Les-4-Quartiers-383,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),23,301000
2,hektor-PARISLUXURYHOMES-4007,Appartement,5,75002 Paris 2e (Palais Royal),106,2490000
3,ag754594-448898324,Studio,1,75001 Paris 1er (Saint-Germain - L'Auxerrois),27,365000
5,keller-williams-1-34_1_53-180645,Appartement,2,75001 Paris 1er (Vendôme),67,1190000
...,...,...,...,...,...,...
19720,apimo-83966258,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),22,239000
19726,ag755800-412953689,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),35,239600
19753,century-21-202_480_27885,Appartement,3,75020 Paris 20e (Plaine - Lagny),63,539000
19758,netty-company34605jrw-appt-3212,Appartement,1,75020 Paris 20e (Gambetta),27,215000
19776,ag933277-381424162,Appartement,1,75020 Paris 20e (Gambetta),39,445900

A partir d'ici, nous avons fait un constat.
Les vendeurs choisissent l'intitulé de leur annonces, dont la localisation, cependant elles ne sont pas toujours normalisées, et parfois même totaltement éronnées. (Exemple 75003 Paris 3e (Châtelet - Les Halles))
Nous avons cond décidé de supposer ques les annonces étaient globalement de la forme (75020 Paris 20e (Gambetta)) mais que seule la partie entre parentèse était bonne.
Ainsi notre but est de récupérer cette information, d'utiliser geopy pour avoir la "véritable adressse" et en plus la localisation.

In [9]:
# Uniformiser le format des localisation

#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 10)
df_ = df.copy()

# Extraire les informations entre parenthèses (quartiers) et les garder dans loc1
df_['loc1'] = df_['loc'].str.extract(r'\((.*?)\)')

# Extraire si il y a plusieures lieux (séparé par un -) le premier lieu dans loc2
df_['loc2'] = df_['loc1'].str.extract(r'^(.*?)\s-\s')
df_['loc2'] = df_['loc2'].fillna(df_['loc1'])

# Extraire les arrondissements (750XX) dans loc3 
df_['loc3'] = df_["loc"].str.extract(r'(750\d{2} [A-Za-z0-9 ]+ \d{1,2}[a-zA-Z]+)')

# Prioriser loc1 (quartiers) et, si absent, utiliser loc3 (arrondissements)
df_['loc1'] = df_['loc1'].fillna(df_['loc3'])

#S'il n'ay a aucune adresse
df_=df_.dropna(subset=['loc1', 'loc3'], how='all')


df_zones=df_[["loc1", "loc2", 'loc3']].drop_duplicates().copy()
df=df_.copy()

In [10]:
df[~df["loc3"].astype(str).str.startswith("75", na=False)]

,id,type,nb_pieces,loc,surface,prix,loc1,loc2,loc3
1033,immo-facile-56299289,Maison,4,78110 LE VESINET (Notre Dame des Champs),68,895000,Notre Dame des Champs,Notre Dame des Champs,NaN
3733,apimo-84671032,Appartement,5,Paris 13e (Bibliothèque - Dunois - Jeanne d'Arc),147,1388000,Bibliothèque - Dunois - Jeanne d'Arc,Bibliothèque,NaN
3778,hektor-ipf-conseils-2233,Appartement,3,Paris 13e (Bièvre Sud - Tolbiac),78,640000,Bièvre Sud - Tolbiac,Bièvre Sud,NaN
4619,hektor-LACLEF2022-907,Appartement,1,75000 Paris (Vaugirard - Parc des Expositions),20,299000,Vaugirard - Parc des Expositions,Vaugirard,NaN
4687,ag750949-445231655,Maison,12,75000 Paris (Pasteur - Montparnasse),500,1500000,Pasteur - Montparnasse,Pasteur,NaN
...,...,...,...,...,...,...,...,...,...
15908,ag755232-450177044,Appartement,7,75116 Paris 16e (Chaillot),175,3200000,Chaillot,Chaillot,NaN
16440,ag751877-439629902,Appartement,3,75116 Paris 16e (Muette-Nord - Trocadéro),87,1930000,Muette-Nord - Trocadéro,Muette-Nord,NaN
16723,immo-facile-55067266,Appartement,6,75116 Paris 16e (Chaillot),166,1921000,Chaillot,Chaillot,NaN
16844,apimo-82263995,Appartement,3,75116 Paris 16e (Dauphine),89,950000,Dauphine,Dauphine,NaN
19588,netty-company40603xwj-appt-1907,Appartement,2,75000 Paris (Télégraphe - Pelleport - Saint-Fa...,38,332400,Télégraphe - Pelleport - Saint-Fargeau,Télégraphe,NaN

Puisque les adresse ne sont pas toujours écrite de la meilleur des manières, il nous faut tester plusieures options (dans l'ordre loc1,loc2) dans geopy pour avoir une réponse.

In [11]:
from geopy.geocoders import Nominatim
from functools import partial
geolocator = Nominatim(user_agent="testing")
geocode = partial(geolocator.geocode, language="fr")
geocode_with_paris = lambda query: geolocator.geocode("%s, Paris FR" % query)

In [12]:
for zone in df_zones.sort_values(by="loc1").itertuples(index=False):
    print(zone)

Pandas(loc1='75001 Paris 1er', loc2=nan, loc3='75001 Paris 1er')
Pandas(loc1='75002 Paris 2e', loc2=nan, loc3='75002 Paris 2e')
Pandas(loc1='75003 Paris 3e', loc2=nan, loc3='75003 Paris 3e')
Pandas(loc1='75004 Paris 4e', loc2=nan, loc3='75004 Paris 4e')
Pandas(loc1='75005 Paris 5e', loc2=nan, loc3='75005 Paris 5e')
Pandas(loc1='75006 Paris 6e', loc2=nan, loc3='75006 Paris 6e')
Pandas(loc1='75007 Paris 7e', loc2=nan, loc3='75007 Paris 7e')
Pandas(loc1='75008 Paris 8e', loc2=nan, loc3='75008 Paris 8e')
Pandas(loc1='75009 Paris 9e', loc2=nan, loc3='75009 Paris 9e')
Pandas(loc1='75010 Paris 10e', loc2=nan, loc3='75010 Paris 10e')
Pandas(loc1='75011 Paris 11e', loc2=nan, loc3='75011 Paris 11e')
Pandas(loc1='75012 Paris 12e', loc2=nan, loc3='75012 Paris 12e')
Pandas(loc1='75013 Paris 13e', loc2=nan, loc3='75013 Paris 13e')
Pandas(loc1='75014 Paris 14e', loc2=nan, loc3='75014 Paris 14e')
Pandas(loc1='75015 Paris 15e', loc2=nan, loc3='75015 Paris 15e')
Pandas(loc1='75016 Paris 16e', loc2=nan, loc3='75016 Paris 16e')
Pandas(loc1='75017 Paris 17e', loc2=nan, loc3='75017 Paris 17e')
Pandas(loc1='75018 Paris 18e', loc2=nan, loc3='75018 Paris 18e')
Pandas(loc1='75019 Paris 19e', loc2=nan, loc3='75019 Paris 19e')
Pandas(loc1='75020 Paris 20e', loc2=nan, loc3='75020 Paris 20e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75002 Paris 2e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75016 Paris 16e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75004 Paris 4e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75006 Paris 6e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75005 Paris 5e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75011 Paris 11e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75012 Paris 12e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75009 Paris 9e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75010 Paris 10e')
Pandas(loc1='Aligre - Gare de Lyon', loc2='Aligre', loc3='75003 Paris 3e')
Pandas(loc1='Alleray - Procession', loc2='Alleray', loc3='75015 Paris 15e')
Pandas(loc1='Archives', loc2='Archives', loc3='75004 Paris 4e')
Pandas(loc1='Archives', loc2='Archives', loc3='75003 Paris 3e')
Pandas(loc1='Arsenal', loc2='Arsenal', loc3='75004 Paris 4e')
Pandas(loc1='Arts-et-Métiers', loc2='Arts-et-Métiers', loc3='75003 Paris 3e')
Pandas(loc1='Auteuil-Nord - Jasmin - Mirabeau', loc2='Auteuil-Nord', loc3=nan)
Pandas(loc1='Auteuil-Nord - Jasmin - Mirabeau', loc2='Auteuil-Nord', loc3='75016 Paris 16e')
Pandas(loc1='Barbès - Château Rouge', loc2='Barbès', loc3='75018 Paris 18e')
Pandas(loc1='Bassin de la Villette', loc2='Bassin de la Villette', loc3='75019 Paris 19e')
Pandas(loc1='Bastille - Popincourt', loc2='Bastille', loc3='75011 Paris 11e')
Pandas(loc1='Batignolles - Cardinet', loc2='Batignolles', loc3='75017 Paris 17e')
Pandas(loc1='Batignolles - Cardinet', loc2='Batignolles', loc3='75018 Paris 18e')
Pandas(loc1='Bel-Air - Nord', loc2='Bel-Air', loc3='75012 Paris 12e')
Pandas(loc1='Bel-Air - Sud', loc2='Bel-Air', loc3='75012 Paris 12e')
Pandas(loc1='Belleville', loc2='Belleville', loc3='75020 Paris 20e')
Pandas(loc1='Belleville', loc2='Belleville', loc3='75019 Paris 19e')
Pandas(loc1='Belleville - Saint-Maur', loc2='Belleville', loc3='75019 Paris 19e')
Pandas(loc1='Belleville - Saint-Maur', loc2='Belleville', loc3='75011 Paris 11e')
Pandas(loc1='Belleville - Saint-Maur', loc2='Belleville', loc3='75020 Paris 20e')
Pandas(loc1='Belleville - Saint-Maur', loc2='Belleville', loc3='75010 Paris 10e')
Pandas(loc1='Bercy', loc2='Bercy', loc3='75012 Paris 12e')
Pandas(loc1="Bibliothèque - Dunois - Jeanne d'Arc", loc2='Bibliothèque', loc3='75013 Paris 13e')
Pandas(loc1="Bibliothèque - Dunois - Jeanne d'Arc", loc2='Bibliothèque', loc3=nan)
Pandas(loc1='Bièvre Sud - Tolbiac', loc2='Bièvre Sud', loc3='75013 Paris 13e')
Pandas(loc1='Bièvre Sud - Tolbiac', loc2='Bièvre Sud', loc3=nan)
Pandas(loc1='Breteuil', loc2='Breteuil', loc3='75015 Paris 15e')
Pandas(loc1='Breteuil', loc2='Breteuil', loc3='75007 Paris 7e')
Pandas(loc1='Butte-aux-Cailles', loc2='Butte-aux-Cailles', loc3='75013 Paris 13e')
Pandas(loc1='Buttes Chaumont - Laumière - Manin', loc2='Buttes Chaumont', loc3='75019 Paris 19e')
Pandas(loc1='Cambronne - Garibaldi', loc2='Cambronne', loc3='75015 Paris 15e')
Pandas(loc1='Cambronne - Garibaldi', loc2='Cambronne', loc3='75007 Paris 7e')
Pandas(loc1='Canal Saint-Martin - Jemmapes', loc2='Canal Saint-Martin', loc3='75010 Paris 10e')
Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75017 Paris 17e')
Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75016 Paris 16e')
Pandas(loc1='Chaillot', loc2='Chaillot', loc3=nan)
Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75008 Paris 8e')
Pandas(loc1='Champ de Mars', loc2='Champ de Mars', loc3='75008 Paris 8e')
Pandas(loc1='Champ de Mars', loc2='Champ de Mars', loc3='75007 Paris 7e')
Pandas(loc1='Champerret - Berthier', loc2='Champerret', loc3='75017 Paris 17e')
Pandas(loc1="Château d'Eau - Lancry", loc2="Château d'Eau", loc3='75003 Paris 3e')
Pandas(loc1="Château d'Eau - Lancry", loc2="Château d'Eau", loc3='75010 Paris 10e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75001 Paris 1er')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75002 Paris 2e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75016 Paris 16e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75008 Paris 8e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75003 Paris 3e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75010 Paris 10e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75011 Paris 11e')
Pandas(loc1='Châtelet - Les Halles', loc2='Châtelet', loc3='75015 Paris 15e')
Pandas(loc1='Citroën - Boucicaut', loc2='Citroën', loc3='75015 Paris 15e')
Pandas(loc1='Citroën - Boucicaut', loc2='Citroën', loc3='75016 Paris 16e')
Pandas(loc1='Clichy - Trinité', loc2='Clichy', loc3='75019 Paris 19e')
Pandas(loc1='Clichy - Trinité', loc2='Clichy', loc3='75009 Paris 9e')
Pandas(loc1='Clichy - Trinité', loc2='Clichy', loc3='75018 Paris 18e')
Pandas(loc1='Clichy - Trinité', loc2='Clichy', loc3='75008 Paris 8e')
Pandas(loc1='Courcelles - Wagram', loc2='Courcelles', loc3='75008 Paris 8e')
Pandas(loc1='Courcelles - Wagram', loc2='Courcelles', loc3='75017 Paris 17e')
Pandas(loc1='Croulebarbe', loc2='Croulebarbe', loc3='75005 Paris 5e')
Pandas(loc1='Croulebarbe', loc2='Croulebarbe', loc3='75014 Paris 14e')
Pandas(loc1='Croulebarbe', loc2='Croulebarbe', loc3='75013 Paris 13e')
Pandas(loc1='Danube', loc2='Danube', loc3='75019 Paris 19e')
Pandas(loc1='Dauphine', loc2='Dauphine', loc3=nan)
Pandas(loc1='Dauphine', loc2='Dauphine', loc3='75016 Paris 16e')
Pandas(loc1='Dauphine', loc2='Dauphine', loc3='75017 Paris 17e')
Pandas(loc1='Didot - Porte de Vanves', loc2='Didot', loc3='75014 Paris 14e')
Pandas(loc1='Dupleix - Motte Picquet', loc2='Dupleix', loc3='75015 Paris 15e')
Pandas(loc1='Elysée - Madeleine', loc2='Elysée', loc3=nan)
Pandas(loc1='Elysée - Madeleine', loc2='Elysée', loc3='75008 Paris 8e')
Pandas(loc1='Emeriau - Zola', loc2='Emeriau', loc3='75015 Paris 15e')
Pandas(loc1='Enfants Rouges - Bretagne', loc2='Enfants Rouges', loc3='75003 Paris 3e')
Pandas(loc1='Epinettes - Bessières', loc2='Epinettes', loc3='75017 Paris 17e')
Pandas(loc1='Europe', loc2='Europe', loc3='75008 Paris 8e')
Pandas(loc1='Europe', loc2='Europe', loc3='75018 Paris 18e')
Pandas(loc1='Europe', loc2='Europe', loc3='75009 Paris 9e')
Pandas(loc1='Europe', loc2='Europe', loc3='75017 Paris 17e')
Pandas(loc1='Flandre - Aubervilliers', loc2='Flandre', loc3='75019 Paris 19e')
Pandas(loc1='Gaillon - Vivienne', loc2='Gaillon', loc3='75002 Paris 2e')
Pandas(loc1='Gaillon - Vivienne', loc2='Gaillon', loc3='75001 Paris 1er')
Pandas(loc1='Gambetta', loc2='Gambetta', loc3='75020 Paris 20e')
Pandas(loc1='Gambetta', loc2='Gambetta', loc3='75011 Paris 11e')
Pandas(loc1='Georges Brassens', loc2='Georges Brassens', loc3='75015 Paris 15e')
Pandas(loc1='Goncourt - Canal Saint-Martin', loc2='Goncourt', loc3='75019 Paris 19e')
Pandas(loc1='Goncourt - Canal Saint-Martin', loc2='Goncourt', loc3='75010 Paris 10e')
Pandas(loc1='Grandes Carrières - Clichy', loc2='Grandes Carrières', loc3='75017 Paris 17e')
Pandas(loc1='Grandes Carrières - Clichy', loc2='Grandes Carrières', loc3='75018 Paris 18e')
Pandas(loc1='Grands Boulevards', loc2='Grands Boulevards', loc3='75002 Paris 2e')
Pandas(loc1='Grands Boulevards', loc2='Grands Boulevards', loc3='75009 Paris 9e')
Pandas(loc1='Hoche Friedland', loc2='Hoche Friedland', loc3='75008 Paris 8e')
Pandas(loc1='Invalides', loc2='Invalides', loc3='75007 Paris 7e')
Pandas(loc1='Jardin de Reuilly', loc2='Jardin de Reuilly', loc3='75012 Paris 12e')
Pandas(loc1='Jardin des Plantes', loc2='Jardin des Plantes', loc3='75005 Paris 5e')
Pandas(loc1="Jean Moulin - Porte d'Orléans", loc2='Jean Moulin', loc3='75014 Paris 14e')
Pandas(loc1='Jourdain - Pyrénées', loc2='Jourdain', loc3='75011 Paris 11e')
Pandas(loc1='Jourdain - Pyrénées', loc2='Jourdain', loc3='75020 Paris 20e')
Pandas(loc1='Jourdain - Pyrénées', loc2='Jourdain', loc3='75019 Paris 19e')
Pandas(loc1='Jules Joffrin', loc2='Jules Joffrin', loc3='75018 Paris 18e')
Pandas(loc1='La Chapelle - Marx Dormoy', loc2='La Chapelle', loc3='75018 Paris 18e')
Pandas(loc1='La Chapelle - Marx Dormoy', loc2='La Chapelle', loc3='75010 Paris 10e')
Pandas(loc1='La Fourche - Guy Moquet', loc2='La Fourche', loc3='75017 Paris 17e')
Pandas(loc1='La Villette - Porte de Pantin', loc2='La Villette', loc3='75019 Paris 19e')
Pandas(loc1='Legendre - Lévis', loc2='Legendre', loc3='75017 Paris 17e')
Pandas(loc1='Legendre - Lévis', loc2='Legendre', loc3='75008 Paris 8e')
Pandas(loc1='Les Iles', loc2='Les Iles', loc3='75004 Paris 4e')
Pandas(loc1='Lorette - Martyrs', loc2='Lorette', loc3='75009 Paris 9e')
Pandas(loc1='Louis Blanc - Aqueduc', loc2='Louis Blanc', loc3='75010 Paris 10e')
Pandas(loc1='Louis Blanc - Aqueduc', loc2='Louis Blanc', loc3='75018 Paris 18e')
Pandas(loc1='Léon-Blum - Folie-Regnault', loc2='Léon-Blum', loc3='75011 Paris 11e')
Pandas(loc1='Mairie', loc2='Mairie', loc3='75008 Paris 8e')
Pandas(loc1='Mairie', loc2='Mairie', loc3='75017 Paris 17e')
Pandas(loc1='Monceau - Malesherbes', loc2='Monceau', loc3='75017 Paris 17e')
Pandas(loc1='Monceau - Malesherbes', loc2='Monceau', loc3='75008 Paris 8e')
Pandas(loc1='Monge - Jussieu', loc2='Monge', loc3='75005 Paris 5e')
Pandas(loc1='Montmartre - Sacré Coeur - Abbesses', loc2='Montmartre', loc3='75009 Paris 9e')
Pandas(loc1='Montmartre - Sacré Coeur - Abbesses', loc2='Montmartre', loc3='75018 Paris 18e')
Pandas(loc1='Montorgueil - Etienne Marcel', loc2='Montorgueil', loc3='75002 Paris 2e')
Pandas(loc1='Montorgueil - Etienne Marcel', loc2='Montorgueil', loc3='75003 Paris 3e')
Pandas(loc1='Montorgueil - Etienne Marcel', loc2='Montorgueil', loc3='75001 Paris 1er')
Pandas(loc1='Montparnasse - Raspail', loc2='Montparnasse', loc3=nan)
Pandas(loc1='Montparnasse - Raspail', loc2='Montparnasse', loc3='75006 Paris 6e')
Pandas(loc1='Montparnasse - Raspail', loc2='Montparnasse', loc3='75013 Paris 13e')
Pandas(loc1='Montparnasse - Raspail', loc2='Montparnasse', loc3='75005 Paris 5e')
Pandas(loc1='Montparnasse - Raspail', loc2='Montparnasse', loc3='75014 Paris 14e')
Pandas(loc1='Montsouris - Dareau', loc2='Montsouris', loc3='75014 Paris 14e')
Pandas(loc1='Montsouris - Dareau', loc2='Montsouris', loc3='75013 Paris 13e')
Pandas(loc1='Mouton - Duvernet', loc2='Mouton', loc3='75014 Paris 14e')
Pandas(loc1='Mouzaia', loc2='Mouzaia', loc3='75019 Paris 19e')
Pandas(loc1='Mouzaia', loc2='Mouzaia', loc3='75020 Paris 20e')
Pandas(loc1='Muette-Nord - Trocadéro', loc2='Muette-Nord', loc3='75016 Paris 16e')
Pandas(loc1='Muette-Nord - Trocadéro', loc2='Muette-Nord', loc3=nan)
Pandas(loc1='Ménilmontant - Amandiers', loc2='Ménilmontant', loc3='75020 Paris 20e')
Pandas(loc1='Ménilmontant - Amandiers', loc2='Ménilmontant', loc3='75019 Paris 19e')
Pandas(loc1='Nation - Alexandre Dumas', loc2='Nation', loc3='75012 Paris 12e')
Pandas(loc1='Nation - Alexandre Dumas', loc2='Nation', loc3='75011 Paris 11e')
Pandas(loc1='Nation - Picpus', loc2='Nation', loc3='75012 Paris 12e')
Pandas(loc1='Nation - Picpus', loc2='Nation', loc3='75011 Paris 11e')
Pandas(loc1='Nationale - Deux Moulins', loc2='Nationale', loc3='75013 Paris 13e')
Pandas(loc1='Notre Dame des Champs', loc2='Notre Dame des Champs', loc3=nan)
Pandas(loc1='Notre Dame des Champs', loc2='Notre Dame des Champs', loc3='75015 Paris 15e')
Pandas(loc1='Notre Dame des Champs', loc2='Notre Dame des Champs', loc3='75006 Paris 6e')
Pandas(loc1='Odéon - Mabillon', loc2='Odéon', loc3='75006 Paris 6e')
Pandas(loc1='Olympiades - Choisy', loc2='Olympiades', loc3='75013 Paris 13e')
Pandas(loc1='Opéra', loc2='Opéra', loc3='75009 Paris 9e')
Pandas(loc1='Palais Royal', loc2='Palais Royal', loc3='75001 Paris 1er')
Pandas(loc1='Palais Royal', loc2='Palais Royal', loc3='75002 Paris 2e')
Pandas(loc1='Passy - Maison de la Radio - Muette-Sud', loc2='Passy', loc3=nan)
Pandas(loc1='Passy - Maison de la Radio - Muette-Sud', loc2='Passy', loc3='75016 Paris 16e')
Pandas(loc1='Pasteur - Montparnasse', loc2='Pasteur', loc3=nan)
Pandas(loc1='Pasteur - Montparnasse', loc2='Pasteur', loc3='75015 Paris 15e')
Pandas(loc1='Patay - Masséna', loc2='Patay', loc3='75013 Paris 13e')
Pandas(loc1='Pereire', loc2='Pereire', loc3='75008 Paris 8e')
Pandas(loc1='Pereire', loc2='Pereire', loc3='75017 Paris 17e')
Pandas(loc1='Pernety', loc2='Pernety', loc3='75014 Paris 14e')
Pandas(loc1='Plaine - Lagny', loc2='Plaine', loc3='75020 Paris 20e')
Pandas(loc1='Plaine - Lagny', loc2='Plaine', loc3='75012 Paris 12e')
Pandas(loc1='Porte Saint-Martin - Paradis', loc2='Porte Saint-Martin', loc3='75018 Paris 18e')
Pandas(loc1='Porte Saint-Martin - Paradis', loc2='Porte Saint-Martin', loc3='75010 Paris 10e')
Pandas(loc1='Porte Saint-Martin - Paradis', loc2='Porte Saint-Martin', loc3='75002 Paris 2e')
Pandas(loc1='Porte Saint-Martin - Paradis', loc2='Porte Saint-Martin', loc3='75009 Paris 9e')
Pandas(loc1='Porte de Clichy', loc2='Porte de Clichy', loc3='75017 Paris 17e')
Pandas(loc1='Porte de Clignancourt - Porte Montmartre - Moskowa', loc2='Porte de Clignancourt', loc3='75018 Paris 18e')
Pandas(loc1='Porte de Saint-Cloud - Auteuil-Sud', loc2='Porte de Saint-Cloud', loc3=nan)
Pandas(loc1='Porte de Saint-Cloud - Auteuil-Sud', loc2='Porte de Saint-Cloud', loc3='75016 Paris 16e')
Pandas(loc1='Porte de la Chapelle - Charles Hermite - Evangile', loc2='Porte de la Chapelle', loc3='75018 Paris 18e')
Pandas(loc1='Porte de la Villette', loc2='Porte de la Villette', loc3=nan)
Pandas(loc1='Porte de la Villette', loc2='Porte de la Villette', loc3='75019 Paris 19e')
Pandas(loc1='Porte des Lilas', loc2='Porte des Lilas', loc3='75019 Paris 19e')
Pandas(loc1='Porte des Lilas', loc2='Porte des Lilas', loc3='75020 Paris 20e')
Pandas(loc1='Père Lachaise - Réunion', loc2='Père Lachaise', loc3='75020 Paris 20e')
Pandas(loc1='Père Lachaise - Réunion', loc2='Père Lachaise', loc3='75011 Paris 11e')
Pandas(loc1='Rennes', loc2='Rennes', loc3='75006 Paris 6e')
Pandas(loc1='Rennes', loc2='Rennes', loc3='75007 Paris 7e')
Pandas(loc1='République - Saint-Ambroise', loc2='République', loc3='75003 Paris 3e')
Pandas(loc1='République - Saint-Ambroise', loc2='République', loc3='75011 Paris 11e')
Pandas(loc1='Saint-Blaise', loc2='Saint-Blaise', loc3='75020 Paris 20e')
Pandas(loc1="Saint-Germain - L'Auxerrois", loc2='Saint-Germain', loc3='75006 Paris 6e')
Pandas(loc1="Saint-Germain - L'Auxerrois", loc2='Saint-Germain', loc3='75001 Paris 1er')
Pandas(loc1='Saint-Germain des Près', loc2='Saint-Germain des Près', loc3='75001 Paris 1er')
Pandas(loc1='Saint-Germain des Près', loc2='Saint-Germain des Près', loc3='75006 Paris 6e')
Pandas(loc1='Saint-Germain des Près', loc2='Saint-Germain des Près', loc3='75007 Paris 7e')
Pandas(loc1='Saint-Gervais', loc2='Saint-Gervais', loc3='75004 Paris 4e')
Pandas(loc1='Saint-Gervais', loc2='Saint-Gervais', loc3='75003 Paris 3e')
Pandas(loc1='Saint-Lambert - Convention', loc2='Saint-Lambert', loc3='75015 Paris 15e')
Pandas(loc1='Saint-Merri', loc2='Saint-Merri', loc3='75004 Paris 4e')
Pandas(loc1='Saint-Merri', loc2='Saint-Merri', loc3='75003 Paris 3e')
Pandas(loc1='Saint-Michel - Monnaie', loc2='Saint-Michel', loc3='75006 Paris 6e')
Pandas(loc1='Saint-Philippe du Roule', loc2='Saint-Philippe du Roule', loc3='75016 Paris 16e')
Pandas(loc1='Saint-Philippe du Roule', loc2='Saint-Philippe du Roule', loc3='75008 Paris 8e')
Pandas(loc1='Saint-Placide', loc2='Saint-Placide', loc3='75006 Paris 6e')
Pandas(loc1='Saint-Placide', loc2='Saint-Placide', loc3='75014 Paris 14e')
Pandas(loc1="Saint-Thomas d'Aquin - Bac - Musée d'Orsay", loc2="Saint-Thomas d'Aquin", loc3='75007 Paris 7e')
Pandas(loc1="Saint-Thomas d'Aquin - Bac - Musée d'Orsay", loc2="Saint-Thomas d'Aquin", loc3='75006 Paris 6e')
Pandas(loc1='Saint-Vincent de Paul - Lariboisière', loc2='Saint-Vincent de Paul', loc3='75010 Paris 10e')
Pandas(loc1='Saint-Vincent de Paul - Lariboisière', loc2='Saint-Vincent de Paul', loc3='75009 Paris 9e')
Pandas(loc1='Saint-Vincent de Paul - Lariboisière', loc2='Saint-Vincent de Paul', loc3='75018 Paris 18e')
Pandas(loc1='Sainte-Avoye', loc2='Sainte-Avoye', loc3='75004 Paris 4e')
Pandas(loc1='Sainte-Avoye', loc2='Sainte-Avoye', loc3='75010 Paris 10e')
Pandas(loc1='Sainte-Avoye', loc2='Sainte-Avoye', loc3='75003 Paris 3e')
Pandas(loc1='Salpétrière - Austerlitz', loc2='Salpétrière', loc3='75013 Paris 13e')
Pandas(loc1='Salpétrière - Austerlitz', loc2='Salpétrière', loc3='75005 Paris 5e')
Pandas(loc1='Secrétan - Jaurès', loc2='Secrétan', loc3='75019 Paris 19e')
Pandas(loc1='Sentier', loc2='Sentier', loc3='75002 Paris 2e')
Pandas(loc1='Simplon - Poissonniers', loc2='Simplon', loc3='75018 Paris 18e')
Pandas(loc1='Sorbonne - Quartier Latin', loc2='Sorbonne', loc3='75005 Paris 5e')
Pandas(loc1='Sorbonne - Quartier Latin', loc2='Sorbonne', loc3='75006 Paris 6e')
Pandas(loc1='Ternes - Maillot', loc2='Ternes', loc3='75016 Paris 16e')
Pandas(loc1='Ternes - Maillot', loc2='Ternes', loc3='75017 Paris 17e')
Pandas(loc1="Triangle d'Or", loc2="Triangle d'Or", loc3='75008 Paris 8e')
Pandas(loc1='Trudaine - Rochechouart', loc2='Trudaine', loc3='75009 Paris 9e')
Pandas(loc1='Trudaine - Rochechouart', loc2='Trudaine', loc3='75010 Paris 10e')
Pandas(loc1='Télégraphe - Pelleport - Saint-Fargeau', loc2='Télégraphe', loc3='75019 Paris 19e')
Pandas(loc1='Télégraphe - Pelleport - Saint-Fargeau', loc2='Télégraphe', loc3='75020 Paris 20e')
Pandas(loc1='Télégraphe - Pelleport - Saint-Fargeau', loc2='Télégraphe', loc3=nan)
Pandas(loc1='Val de Grâce', loc2='Val de Grâce', loc3='75013 Paris 13e')
Pandas(loc1='Val de Grâce', loc2='Val de Grâce', loc3='75005 Paris 5e')
Pandas(loc1='Vallée de Fecamp', loc2='Vallée de Fecamp', loc3='75012 Paris 12e')
Pandas(loc1='Vaugirard - Parc des Expositions', loc2='Vaugirard', loc3='75015 Paris 15e')
Pandas(loc1='Vaugirard - Parc des Expositions', loc2='Vaugirard', loc3=nan)
Pandas(loc1='Vaugirard - Parc des Expositions', loc2='Vaugirard', loc3='75016 Paris 16e')
Pandas(loc1='Vendôme', loc2='Vendôme', loc3='75001 Paris 1er')
Pandas(loc1='Violet - Commerce', loc2='Violet', loc3='75015 Paris 15e')

In [13]:
coordonnees_adresse={} #Dictionnaire liant un lieu à une coordonnée
dict_zone={} # dicttionnaire liant au mieux du possible le triplet loc1,lo2,lo3 à un triplet lotissement/rue, quartier, arrondissement

#D'abord les arrondissements
zone_arrondissement=df_zones[df_zones["loc1"]==df_zones["loc3"]]

for zone in zone_arrondissement.itertuples(index=False):
    try:
        location = geolocator.geocode(zone[0])
        print(location)
        arrondissement=location.address
        arrondissement_match=re.search(r"75\d+", arrondissement)
        arrondissement= arrondissement_match.group(0) if arrondissement_match else None
        
        
        coordonnees_adresse[arrondissement]=(location.address,location.latitude,location.longitude)
        dict_zone[zone]=(None,None,arrondissement)
    except:
        dict_zone[zone]=(None,None,None)

Paris 1er Arrondissement, Paris, Île-de-France, France métropolitaine, 75001, France
Paris 3e Arrondissement, Paris, Île-de-France, France métropolitaine, 75003, France
Paris 4e Arrondissement, Paris, Île-de-France, France métropolitaine, 75004, France
Paris 6e Arrondissement, Paris, Île-de-France, France métropolitaine, 75006, France
Paris 8e Arrondissement, Paris, Île-de-France, France métropolitaine, 75008, France
Paris 9e Arrondissement, Paris, Île-de-France, France métropolitaine, 75009, France
Paris 10e Arrondissement, Paris, Île-de-France, France métropolitaine, 75010, France
Paris 11e Arrondissement, Paris, Île-de-France, France métropolitaine, 75011, France
Paris 12e Arrondissement, Paris, Île-de-France, France métropolitaine, 75012, France
Paris 13e Arrondissement, Paris, Île-de-France, France métropolitaine, 75013, France
Paris 14e Arrondissement, Paris, Île-de-France, France métropolitaine, 75014, France
Paris 15e Arrondissement, Paris, Île-de-France, France métropolitaine, 75015, France
Paris 16e Arrondissement, Paris, Île-de-France, France métropolitaine, 75116, France
Paris 17e Arrondissement, Paris, Île-de-France, France métropolitaine, 75017, France
Paris 18e Arrondissement, Paris, Île-de-France, France métropolitaine, 75018, France
Paris 19e Arrondissement, Paris, Île-de-France, France métropolitaine, 75019, France
Paris 20e Arrondissement, Paris, Île-de-France, France métropolitaine, 75020, France
Paris 7e Arrondissement, Paris, Île-de-France, France métropolitaine, 75007, France

In [14]:
# L'arrondissement du 16e étant un peu spécial

# Declaring namedtuple()
Pandas = namedtuple('Location', ['loc1', 'loc2', 'loc3'])

# Adding values
L = Pandas('75016 Paris 16', np.nan, '75016 Paris 16')


#Ajout 75016
dict_zone[L]=(None,None,'75016')
coordonnees_adresse["75016"]=coordonnees_adresse["75116"]

#Modif 75116
L = Pandas('75116 Paris 16', np.nan, '75116 Paris 16')

dict_zone[L]=(None,None,'75116')

In [15]:
next(iter(dict_zone.items())) #key: (lieu,quartier,arrondissement)

(Pandas(loc1='75001 Paris 1er', loc2=nan, loc3='75001 Paris 1er'),
 (None, None, '75001'))

In [16]:
next(iter(coordonnees_adresse.items())) #key: (résultat requete geopy,coordonnées_x,coordonnées_y)

('75001',
 ('Paris 1er Arrondissement, Paris, Île-de-France, France métropolitaine, 75001, France',
  48.8646144,
  2.334396))

In [17]:
# #Sauvegarde intermédiaire
# coordonnees_adresse_1=coordonnees_adresse.copy() 
# dict_zone_1=dict_zone.copy()

In [18]:
#Pour le reste des adresses
zone_lieux=df_zones[df_zones["loc1"]!=df_zones["loc3"]]


# On devra chercher les quartier et arrondissement dans l'adresse donnée
quartier_pattern = r"Quartier\s[\w\s\'\-]+"
arrondissement_pattern = r"75\d+"

In [19]:
# # Ensure coordonnees_adresse and dict_zone are initialized properly
# coordonnees_adresse = coordonnees_adresse_1.copy()
# dict_zone = dict_zone_1.copy()

# Iterate through the sorted zone_lieux DataFrame
for zone in zone_lieux.sort_values(by="loc1").itertuples(index=False):
    try:
        location = None  # Initialize 
        adresse = None
        quartier_match = None
        arrondissement_match = None

        # Check if zone[0] is already in coordonnees_adresse
        if zone[0] in coordonnees_adresse:
            adresse = coordonnees_adresse[zone[0]][0]
            
        else:
            location = geocode_with_paris(zone[0])
            
            if location is not None:
                coordonnees_adresse[zone[0]] = (location.address, location.latitude, location.longitude)
                adresse = location.address

        # Use regex to extract quartier and arrondissement
        quartier_match = re.search(quartier_pattern, adresse)
        quartier = quartier_match.group(0) if quartier_match else None

        arrondissement_match = re.search(arrondissement_pattern, adresse)
        arrondissement = arrondissement_match.group(0) if arrondissement_match else None

        # Update dict_zone with the extracted information
        dict_zone[zone] = (zone[0], quartier, arrondissement)
        print((zone[0], quartier, arrondissement))

        # Check if we have the quartier and if it's not in coordonnees_adresse
        if quartier and quartier not in coordonnees_adresse:
            location_ = geocode_with_paris(quartier)
            if location_ is None:
                dict_zone[zone] = (zone[0], None, arrondissement)
            else:
                coordonnees_adresse[quartier] = (location_.address, location_.latitude, location_.longitude)

    except Exception as e:
        if "expected string or bytes-like object, got 'NoneType'" != str(e):
            #Erreur qui n'est pas adresse non trouvée
            print(f"Error processing zone {zone[0]}: {e}")
        # Handle fallback if zone[1] is the alternative name to process
        try:
            if zone[1] in coordonnees_adresse:
                adresse = coordonnees_adresse[zone[1]][0]
            else:
                location = geocode_with_paris(zone[1])

                if location is None:
                    dict_zone[zone] = (None, None, None)
                    print((None, None, None))
                    continue
                else:
                    coordonnees_adresse[zone[1]] = (location.address, location.latitude, location.longitude)
                    adresse = location.address

            # Extract quartier and arrondissement again
            quartier_match = re.search(quartier_pattern, adresse)
            quartier = quartier_match.group(0) if quartier_match else None

            arrondissement_match = re.search(arrondissement_pattern, adresse)
            arrondissement = arrondissement_match.group(0) if arrondissement_match else None

            # Update dict_zone with the information
            dict_zone[zone] = (zone[1], quartier, arrondissement)
            print((zone[1], quartier, arrondissement))

            # Check quartier geocoding if needed
            if quartier and quartier not in coordonnees_adresse:
                location_ = geocode_with_paris(quartier)
                if location_ is None:
                    dict_zone[zone] = (zone[1], None, arrondissement)
                else:
                    coordonnees_adresse[quartier] = (location_.address, location_.latitude, location_.longitude)

        except Exception as e:
            print(f"Error handling fallback zone {zone[1]}: {e}")

('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Aligre', 'Quartier des Quinze-Vingts', '75012')
('Alleray - Procession', None, '75015')
('Archives', 'Quartier des Archives', '75003')
('Archives', 'Quartier des Archives', '75003')
('Arsenal', "Quartier de l'Arsenal", '75004')
('Arts-et-Métiers', 'Quartier des Arts-et-Métiers', '75003')
('Auteuil-Nord', None, None)
('Auteuil-Nord', None, None)
('Barbès - Château Rouge', "Quartier de la Goutte-d'Or", '75018')
('Bassin de la Villette', None, '75019')
('Bastille - Popincourt', 'Quartier de la Roquette', '75011')
('Batignolles - Cardinet', 'Quartier des Batignolles', '75017')
('Batignolles - Cardinet', 'Quartier des Batignolles', '75017')
Error processing zone Bel-Air - Nord: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Bel-Air+-+Nord%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Bel-Air', 'Quartier de Picpus', '75012')
Error processing zone Bel-Air - Sud: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Bel-Air+-+Sud%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Bel-Air', 'Quartier de Picpus', '75012')
('Belleville', 'Quartier de Belleville', '75020')
('Belleville', 'Quartier de Belleville', '75020')
('Belleville', 'Quartier de Belleville', '75020')
('Belleville', 'Quartier de Belleville', '75020')
('Belleville', 'Quartier de Belleville', '75020')
('Belleville', 'Quartier de Belleville', '75020')
('Bercy', 'Quartier de Bercy', '75012')
Error processing zone Bibliothèque - Dunois - Jeanne d'Arc: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Biblioth%C3%A8que+-+Dunois+-+Jeanne+d%27Arc%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Bibliothèque', "Quartier Saint-Germain-l'Auxerrois", '75001')
Error processing zone Bibliothèque - Dunois - Jeanne d'Arc: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Biblioth%C3%A8que+-+Dunois+-+Jeanne+d%27Arc%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Bibliothèque', "Quartier Saint-Germain-l'Auxerrois", '75001')
('Bièvre Sud', None, None)
('Bièvre Sud', None, None)
('Breteuil', 'Quartier Necker', '75015')
('Breteuil', 'Quartier Necker', '75015')
('Butte-aux-Cailles', None, '75013')
('Buttes Chaumont', 'Quartier du Combat', '75019')
('Cambronne - Garibaldi', 'Quartier Necker', '75015')
('Cambronne - Garibaldi', 'Quartier Necker', '75015')
Error processing zone Canal Saint-Martin - Jemmapes: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Canal+Saint-Martin+-+Jemmapes%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Canal Saint-Martin', None, None)
('Chaillot', None, None)
('Chaillot', None, None)
('Chaillot', None, None)
('Chaillot', None, None)
('Champ de Mars', None, '75007')
('Champ de Mars', None, '75007')
('Champerret - Berthier', 'Quartier de la Plaine-de-Monceau', '75017')
Error processing zone Château d'Eau - Lancry: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ch%C3%A2teau+d%27Eau+-+Lancry%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
("Château d'Eau", 'Quartier de la Porte-Saint-Martin', '75010')
Error processing zone Château d'Eau - Lancry: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ch%C3%A2teau+d%27Eau+-+Lancry%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
("Château d'Eau", 'Quartier de la Porte-Saint-Martin', '75010')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Châtelet - Les Halles', 'Quartier Les Halles', '75001')
('Citroën - Boucicaut', 'Quartier de Javel', '75015')
('Citroën - Boucicaut', 'Quartier de Javel', '75015')
('Clichy', 'Quartier des Batignolles', '75017')
('Clichy', 'Quartier des Batignolles', '75017')
('Clichy', 'Quartier des Batignolles', '75017')
('Clichy', 'Quartier des Batignolles', '75017')
('Courcelles - Wagram', 'Quartier de la Plaine-de-Monceau', '75017')
('Courcelles - Wagram', 'Quartier de la Plaine-de-Monceau', '75017')
('Croulebarbe', 'Quartier de Croulebarbe', '75013')
('Croulebarbe', 'Quartier de Croulebarbe', '75013')
('Croulebarbe', 'Quartier de Croulebarbe', '75013')
('Danube', "Quartier d'Amérique", '75019')
('Dauphine', 'Quartier de la Porte-Dauphine', '75116')
('Dauphine', 'Quartier de la Porte-Dauphine', '75116')
('Dauphine', 'Quartier de la Porte-Dauphine', '75116')
('Didot - Porte de Vanves', 'Quartier de Plaisance', '75014')
('Dupleix - Motte Picquet', 'Quartier Dupleix', '75015')
('Elysée - Madeleine', 'Quartier de la Madeleine', '75008')
('Elysée - Madeleine', 'Quartier de la Madeleine', '75008')
('Emeriau', 'Quartier de Grenelle', '75015')
Error processing zone Enfants Rouges - Bretagne: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Enfants+Rouges+-+Bretagne%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Enfants Rouges', 'Quartier des Enfants-Rouges', '75003')
('Epinettes - Bessières', 'Quartier des Épinettes', '75017')
('Europe', "Quartier de l'Europe", '75008')
('Europe', "Quartier de l'Europe", '75008')
('Europe', "Quartier de l'Europe", '75008')
('Europe', "Quartier de l'Europe", '75008')
('Flandre', 'Quartier de la Villette', '75019')
('Gaillon - Vivienne', 'Quartier Gaillon', '75002')
('Gaillon - Vivienne', 'Quartier Gaillon', '75002')
('Gambetta', 'Quartier du Père-Lachaise', '75020')
('Gambetta', 'Quartier du Père-Lachaise', '75020')
('Georges Brassens', 'Quartier Saint-Lambert', '75015')
('Goncourt', 'Quartier de la Folie-Méricourt', '75011')
('Goncourt', 'Quartier de la Folie-Méricourt', '75011')
('Grandes Carrières', 'Quartier des Grandes-Carrières', '75018')
Error processing zone Grandes Carrières - Clichy: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Grandes+Carri%C3%A8res+-+Clichy%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Grandes Carrières', 'Quartier des Grandes-Carrières', '75018')
('Grands Boulevards', 'Quartier du Faubourg-Montmartre', '75009')
('Grands Boulevards', 'Quartier du Faubourg-Montmartre', '75009')
(None, None, None)
('Invalides', 'Quartier des Invalides', '75007')
('Jardin de Reuilly', None, '75012')
('Jardin des Plantes', None, '75005')
Error processing zone Jean Moulin - Porte d'Orléans: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Jean+Moulin+-+Porte+d%27Orl%C3%A9ans%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Jean Moulin', 'Quartier du Petit-Montrouge', '75014')
('Jourdain - Pyrénées', 'Quartier de Belleville', '75020')
('Jourdain - Pyrénées', 'Quartier de Belleville', '75020')
('Jourdain - Pyrénées', 'Quartier de Belleville', '75020')
('Jules Joffrin', 'Quartier de Clignancourt', '75018')
Error processing zone La Chapelle - Marx Dormoy: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=La+Chapelle+-+Marx+Dormoy%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('La Chapelle', 'Quartier de la Chapelle', '75018')
Error processing zone La Chapelle - Marx Dormoy: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=La+Chapelle+-+Marx+Dormoy%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('La Chapelle', 'Quartier de la Chapelle', '75018')
('La Fourche', 'Quartier des Grandes-Carrières', '75017')
Error processing zone La Villette - Porte de Pantin: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=La+Villette+-+Porte+de+Pantin%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('La Villette', 'Quartier de la Villette', '75019')
('Legendre', 'Quartier des Épinettes', '75017')
('Legendre', 'Quartier des Épinettes', '75017')
('Les Iles', None, '75019')
('Lorette - Martyrs', 'Quartier Saint-Georges', '75009')
('Louis Blanc - Aqueduc', 'Quartier Saint-Vincent-de-Paul', '75010')
('Louis Blanc - Aqueduc', 'Quartier Saint-Vincent-de-Paul', '75010')
('Léon-Blum', 'Quartier de la Roquette', '75011')
('Mairie', 'Quartier de Clignancourt', '75018')
('Mairie', 'Quartier de Clignancourt', '75018')
('Monceau - Malesherbes', "Quartier de l'Europe", '75008')
('Monceau - Malesherbes', "Quartier de l'Europe", '75008')
('Monge', 'Quartier Saint-Victor', '75005')
('Montmartre', None, '75018')
('Montmartre', None, '75018')
('Montorgueil - Etienne Marcel', 'Quartier du Mail', '75002')
('Montorgueil - Etienne Marcel', 'Quartier du Mail', '75002')
('Montorgueil - Etienne Marcel', 'Quartier du Mail', '75002')
('Montparnasse - Raspail', 'Quartier du Montparnasse', '75014')
('Montparnasse - Raspail', 'Quartier du Montparnasse', '75014')
('Montparnasse - Raspail', 'Quartier du Montparnasse', '75014')
('Montparnasse - Raspail', 'Quartier du Montparnasse', '75014')
('Montparnasse - Raspail', 'Quartier du Montparnasse', '75014')
('Montsouris', 'Quartier du Parc-de-Montsouris', '75014')
('Montsouris', 'Quartier du Parc-de-Montsouris', '75014')
('Mouton - Duvernet', 'Quartier du Petit-Montrouge', '75014')
('Mouzaia', "Quartier d'Amérique", '75019')
('Mouzaia', "Quartier d'Amérique", '75019')
(None, None, None)
(None, None, None)
('Ménilmontant', None, '75020')
('Ménilmontant', None, '75020')
('Nation', 'Quartier de Picpus', '75012')
('Nation', 'Quartier de Picpus', '75012')
('Nation - Picpus', 'Quartier de Picpus', '75012')
('Nation - Picpus', 'Quartier de Picpus', '75012')
('Nationale', 'Quartier de la Gare', '75013')
('Notre Dame des Champs', 'Quartier Notre-Dame-des-Champs', '75006')
('Notre Dame des Champs', 'Quartier Notre-Dame-des-Champs', '75006')
('Notre Dame des Champs', 'Quartier Notre-Dame-des-Champs', '75006')
('Odéon', 'Quartier de la Monnaie', '75006')
('Olympiades - Choisy', 'Quartier de la Gare', '75013')
('Opéra', None, '75009')
('Palais Royal', 'Quartier du Palais Royal', '75001')
('Palais Royal', 'Quartier du Palais Royal', '75001')
Error processing zone Passy - Maison de la Radio - Muette-Sud: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Passy+-+Maison+de+la+Radio+-+Muette-Sud%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Passy', None, '75116')
Error processing zone Passy - Maison de la Radio - Muette-Sud: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Passy+-+Maison+de+la+Radio+-+Muette-Sud%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Passy', None, '75116')
('Pasteur - Montparnasse', 'Quartier Necker', '75015')
('Pasteur - Montparnasse', 'Quartier Necker', '75015')
('Patay', 'Quartier de la Gare', '75013')
('Pereire', 'Quartier de la Plaine-de-Monceau', '75017')
('Pereire', 'Quartier de la Plaine-de-Monceau', '75017')
('Pernety', 'Quartier de Plaisance', '75014')
('Plaine', 'Quartier de Charonne', '75020')
('Plaine', 'Quartier de Charonne', '75020')
('Porte Saint-Martin', 'Quartier de la Porte-Saint-Martin', '75010')
('Porte Saint-Martin', 'Quartier de la Porte-Saint-Martin', '75010')
('Porte Saint-Martin', 'Quartier de la Porte-Saint-Martin', '75010')
('Porte Saint-Martin', 'Quartier de la Porte-Saint-Martin', '75010')
('Porte de Clichy', 'Quartier des Batignolles', '75017')
Error processing zone Porte de Clignancourt - Porte Montmartre - Moskowa: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Porte+de+Clignancourt+-+Porte+Montmartre+-+Moskowa%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Porte de Clignancourt', 'Quartier de Clignancourt', '75018')
Error processing zone Porte de Saint-Cloud - Auteuil-Sud: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Porte+de+Saint-Cloud+-+Auteuil-Sud%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Porte de Saint-Cloud', "Quartier d'Auteuil", '75016')
Error processing zone Porte de Saint-Cloud - Auteuil-Sud: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Porte+de+Saint-Cloud+-+Auteuil-Sud%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Porte de Saint-Cloud', "Quartier d'Auteuil", '75016')
Error processing zone Porte de la Chapelle - Charles Hermite - Evangile: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Porte+de+la+Chapelle+-+Charles+Hermite+-+Evangile%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Porte de la Chapelle', 'Quartier de la Chapelle', '75018')
('Porte de la Villette', 'Quartier du Pont-de-Flandre', '75019')
('Porte de la Villette', 'Quartier du Pont-de-Flandre', '75019')
('Porte des Lilas', 'Quartier Saint-Fargeau', '75020')
('Porte des Lilas', 'Quartier Saint-Fargeau', '75020')
('Père Lachaise', 'Quartier du Père-Lachaise', '75020')
('Père Lachaise', 'Quartier du Père-Lachaise', '75020')
('Rennes', 'Quartier Notre-Dame-des-Champs', '75006')
('Rennes', 'Quartier Notre-Dame-des-Champs', '75006')
('République - Saint-Ambroise', 'Quartier Saint-Ambroise', '75011')
('République - Saint-Ambroise', 'Quartier Saint-Ambroise', '75011')
('Saint-Blaise', None, '75020')
Error processing zone Saint-Germain - L'Auxerrois: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Saint-Germain+-+L%27Auxerrois%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Saint-Germain', None, '75006')
("Saint-Germain - L'Auxerrois", "Quartier Saint-Germain-l'Auxerrois", '75001')
('Saint-Germain des Près', 'Quartier de Saint-Germain-des-Prés', '75006')
('Saint-Germain des Près', 'Quartier de Saint-Germain-des-Prés', '75006')
('Saint-Germain des Près', 'Quartier de Saint-Germain-des-Prés', '75006')
('Saint-Gervais', 'Quartier Saint-Gervais', '75004')
('Saint-Gervais', 'Quartier Saint-Gervais', '75004')
('Saint-Lambert', None, '75015')
('Saint-Merri', 'Quartier Saint-Merri', '75004')
('Saint-Merri', 'Quartier Saint-Merri', '75004')
('Saint-Michel - Monnaie', 'Quartier de la Monnaie', '75006')
('Saint-Philippe du Roule', 'Quartier du Faubourg-du-Roule', '75008')
('Saint-Philippe du Roule', 'Quartier du Faubourg-du-Roule', '75008')
('Saint-Placide', 'Quartier Notre-Dame-des-Champs', '75006')
('Saint-Placide', 'Quartier Notre-Dame-des-Champs', '75006')
Error processing zone Saint-Thomas d'Aquin - Bac - Musée d'Orsay: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Saint-Thomas+d%27Aquin+-+Bac+-+Mus%C3%A9e+d%27Orsay%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
("Saint-Thomas d'Aquin", "Quartier Saint-Thomas-d'Aquin", '75007')
("Saint-Thomas d'Aquin", "Quartier Saint-Thomas-d'Aquin", '75007')
Error processing zone Saint-Vincent de Paul - Lariboisière: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Saint-Vincent+de+Paul+-+Lariboisi%C3%A8re%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Saint-Vincent de Paul', 'Quartier Saint-Vincent-de-Paul', '75010')
Error processing zone Saint-Vincent de Paul - Lariboisière: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Saint-Vincent+de+Paul+-+Lariboisi%C3%A8re%2C+Paris+FR&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
('Saint-Vincent de Paul', 'Quartier Saint-Vincent-de-Paul', '75010')
('Saint-Vincent de Paul', 'Quartier Saint-Vincent-de-Paul', '75010')
('Sainte-Avoye', 'Quartier Sainte-Avoye', '75003')
('Sainte-Avoye', 'Quartier Sainte-Avoye', '75003')
('Sainte-Avoye', 'Quartier Sainte-Avoye', '75003')
('Salpétrière - Austerlitz', 'Quartier de la Salpêtrière', '75013')
('Salpétrière - Austerlitz', 'Quartier de la Salpêtrière', '75013')
('Secrétan', 'Quartier du Combat', '75019')
('Sentier', 'Quartier du Mail', '75002')
('Simplon', 'Quartier de Clignancourt', '75018')
('Sorbonne - Quartier Latin', 'Quartier de la Sorbonne', '75005')
('Sorbonne - Quartier Latin', 'Quartier de la Sorbonne', '75005')
('Ternes - Maillot', None, '75116')
('Ternes - Maillot', None, '75116')
("Triangle d'Or", 'Quartier des Batignolles', '75017')
('Trudaine - Rochechouart', 'Quartier de Rochechouart', '75009')
('Trudaine - Rochechouart', 'Quartier de Rochechouart', '75009')
('Télégraphe', "Quartier d'Amérique", '75019')
('Télégraphe', "Quartier d'Amérique", '75019')
('Télégraphe', "Quartier d'Amérique", '75019')

In [20]:
next(iter(coordonnees_adresse.items()))

('75001',
 ('Paris 1er Arrondissement, Paris, Île-de-France, France métropolitaine, 75001, France',
  48.8646144,
  2.334396))

In [21]:
next(iter(dict_zone.items()))

(Pandas(loc1='75001 Paris 1er', loc2=nan, loc3='75001 Paris 1er'),
 (None, None, '75001'))

In [22]:
adress=geocode_with_paris("Muette").address

pattern = r"75\d+"
matches = re.findall(pattern, adress)
print(adress)
print(matches)

Quartier de la Muette, Paris 16e Arrondissement, Paris, Île-de-France, France métropolitaine, 75220, France
['75220']

In [23]:
#Quel tag n'a uniquement pas d'arrondissement (loc3)
{key: value for key, value in dict_zone.items() if  (value[2] is  None)}

{Pandas(loc1='75002 Paris 2e', loc2=nan, loc3='75002 Paris 2e'): (None,
  None,
  None),
 Pandas(loc1='75005 Paris 5e', loc2=nan, loc3='75005 Paris 5e'): (None,
  None,
  None),
 Pandas(loc1='Auteuil-Nord - Jasmin - Mirabeau', loc2='Auteuil-Nord', loc3=nan): ('Auteuil-Nord',
  None,
  None),
 Pandas(loc1='Auteuil-Nord - Jasmin - Mirabeau', loc2='Auteuil-Nord', loc3='75016 Paris 16e'): ('Auteuil-Nord',
  None,
  None),
 Pandas(loc1='Bièvre Sud - Tolbiac', loc2='Bièvre Sud', loc3=nan): ('Bièvre Sud',
  None,
  None),
 Pandas(loc1='Bièvre Sud - Tolbiac', loc2='Bièvre Sud', loc3='75013 Paris 13e'): ('Bièvre Sud',
  None,
  None),
 Pandas(loc1='Canal Saint-Martin - Jemmapes', loc2='Canal Saint-Martin', loc3='75010 Paris 10e'): ('Canal Saint-Martin',
  None,
  None),
 Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75016 Paris 16e'): ('Chaillot',
  None,
  None),
 Pandas(loc1='Chaillot', loc2='Chaillot', loc3=nan): ('Chaillot', None, None),
 Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75017 Paris 17e'): ('Chaillot',
  None,
  None),
 Pandas(loc1='Chaillot', loc2='Chaillot', loc3='75008 Paris 8e'): ('Chaillot',
  None,
  None),
 Pandas(loc1='Hoche Friedland', loc2='Hoche Friedland', loc3='75008 Paris 8e'): (None,
  None,
  None),
 Pandas(loc1='Muette-Nord - Trocadéro', loc2='Muette-Nord', loc3='75016 Paris 16e'): (None,
  None,
  None),
 Pandas(loc1='Muette-Nord - Trocadéro', loc2='Muette-Nord', loc3=nan): (None,
  None,
  None)}

In [24]:
coordonnees_adresse["Auteuil-Nord"]

("Avenue d'Auteuil, Le Touquet-Paris-Plage, Montreuil-sur-Mer, Pas-de-Calais, Hauts-de-France, France métropolitaine, 62520, France",
 50.513172677628695,
 1.6147425435237512)

In [25]:
print(len(df_zones))
print(len(dict_zone)) 
#Normal car ajout de 75116

250
252

In [26]:
#Save
df_2=df.copy()
df_zones_2=df_zones.copy()
dict_zone_2=dict_zone.copy()
coordonnees_adresse_2=coordonnees_adresse.copy()

In [27]:
df=df_2.copy()
df_zones=df_zones_2.copy()
dict_zone=dict_zone_2.copy()
coordonnees_adresse=coordonnees_adresse_2.copy()

# Iterate over the dictionary and suprres the first value
for key, value in coordonnees_adresse.items():
    if isinstance(value, tuple) and len(value) == 3:
        coordonnees_adresse[key] = value[1:]  # Replace (a, b, c) with (b, c)

next(iter(coordonnees_adresse.items()))

('75001', (48.8646144, 2.334396))

In [28]:
LocationKey = namedtuple('Pandas', ['loc1', 'loc2', 'loc3'])

# Step 6: Define a function to retrieve coordinates from the dictionary
def get_coordinates(row):
    try:
        # Ensure the row contains the correct columns
#       print((row['loc1'], row['loc2'], row['loc3']))
        loc1 = None if pd.isna(row['loc1']) else row['loc1']
        loc2 = None if pd.isna(row['loc2']) else row['loc2']
        loc3 = None if pd.isna(row['loc3']) else row['loc3']
        loc_key = LocationKey(loc1=loc1, loc2=loc2, loc3=loc3)
        
        # Return coordinates from dict_zone or (None, None, None) if not found
        return dict_zone.get(loc_key, (None, None, None))
    except KeyError as e:
        print(f"KeyError: {e}")  # Debugging step
        return (None, None, None)

# Step 7: Apply the function to each row of the DataFrame to add the (x, y, z) coordinates
df[['loc1', 'loc2', 'loc3']] = df.apply(get_coordinates, axis=1).apply(pd.Series)

# Resulting DataFrame with (x, y, z) columns
df

,id,type,nb_pieces,loc,surface,prix,loc1,loc2,loc3
0,apimo-85473173,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),29,364000,Châtelet - Les Halles,Quartier Les Halles,75001
1,hektor-Les-4-Quartiers-383,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),23,301000,Châtelet - Les Halles,Quartier Les Halles,75001
2,hektor-PARISLUXURYHOMES-4007,Appartement,5,75002 Paris 2e (Palais Royal),106,2490000,Palais Royal,Quartier du Palais Royal,75001
3,ag754594-448898324,Studio,1,75001 Paris 1er (Saint-Germain - L'Auxerrois),27,365000,Saint-Germain - L'Auxerrois,Quartier Saint-Germain-l'Auxerrois,75001
5,keller-williams-1-34_1_53-180645,Appartement,2,75001 Paris 1er (Vendôme),67,1190000,Vendôme,Quartier Vendôme,75001
...,...,...,...,...,...,...,...,...,...
19720,apimo-83966258,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),22,239000,Père Lachaise,Quartier du Père-Lachaise,75020
19726,ag755800-412953689,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),35,239600,Père Lachaise,Quartier du Père-Lachaise,75020
19753,century-21-202_480_27885,Appartement,3,75020 Paris 20e (Plaine - Lagny),63,539000,Plaine,Quartier de Charonne,75020
19758,netty-company34605jrw-appt-3212,Appartement,1,75020 Paris 20e (Gambetta),27,215000,Gambetta,Quartier du Père-Lachaise,75020
19776,ag933277-381424162,Appartement,1,75020 Paris 20e (Gambetta),39,445900,Gambetta,Quartier du Père-Lachaise,75020

In [29]:
# Step 6: Define a function to retrieve coordinates from the dictionary
def get_coordinates_2(row, loc):
    try:
        # Ensure the row contains the correct columns
#       print((row['loc1'], row['loc2'], row['loc3']))
        locx= None if pd.isna(row[loc]) else row[loc]
        
        # Return coordinates from dict_zone or (None, None, None) if not found
        return coordonnees_adresse.get(locx, (None, None))
    except KeyError as e:
        print(f"KeyError: {e}")  # Debugging step
        return (None, None)

# Step 7: Apply the function to each row of the DataFrame to add the (x, y, z) coordinates
df[['loc1_x', 'loc1_y']] = df.apply(lambda row: pd.Series(get_coordinates_2(row, "loc1")), axis=1)
df[['loc2_x', 'loc2_y']] = df.apply(lambda row: pd.Series(get_coordinates_2(row, "loc2")), axis=1)
df[['loc3_x', 'loc3_y']] = df.apply(lambda row: pd.Series(get_coordinates_2(row, "loc3")), axis=1)

# Resulting DataFrame with (x, y) columns
df

,id,type,nb_pieces,loc,surface,prix,loc1,loc2,loc3,loc1_x,loc1_y,loc2_x,loc2_y,loc3_x,loc3_y
0,apimo-85473173,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),29,364000,Châtelet - Les Halles,Quartier Les Halles,75001,48.862509,2.346443,48.862373,2.345313,48.864614,2.334396
1,hektor-Les-4-Quartiers-383,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),23,301000,Châtelet - Les Halles,Quartier Les Halles,75001,48.862509,2.346443,48.862373,2.345313,48.864614,2.334396
2,hektor-PARISLUXURYHOMES-4007,Appartement,5,75002 Paris 2e (Palais Royal),106,2490000,Palais Royal,Quartier du Palais Royal,75001,48.863585,2.336204,48.864603,2.336049,48.864614,2.334396
3,ag754594-448898324,Studio,1,75001 Paris 1er (Saint-Germain - L'Auxerrois),27,365000,Saint-Germain - L'Auxerrois,Quartier Saint-Germain-l'Auxerrois,75001,48.859506,2.341347,48.860211,2.336299,48.864614,2.334396
5,keller-williams-1-34_1_53-180645,Appartement,2,75001 Paris 1er (Vendôme),67,1190000,Vendôme,Quartier Vendôme,75001,48.866900,2.328549,48.866900,2.328549,48.864614,2.334396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19720,apimo-83966258,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),22,239000,Père Lachaise,Quartier du Père-Lachaise,75020,48.861130,2.394009,48.863752,2.395302,48.865042,2.398929
19726,ag755800-412953689,Appartement,1,75020 Paris 20e (Père Lachaise - Réunion),35,239600,Père Lachaise,Quartier du Père-Lachaise,75020,48.861130,2.394009,48.863752,2.395302,48.865042,2.398929
19753,century-21-202_480_27885,Appartement,3,75020 Paris 20e (Plaine - Lagny),63,539000,Plaine,Quartier de Charonne,75020,48.850152,2.402190,48.855145,2.397638,48.865042,2.398929
19758,netty-company34605jrw-appt-3212,Appartement,1,75020 Paris 20e (Gambetta),27,215000,Gambetta,Quartier du Père-Lachaise,75020,48.864933,2.398054,48.863752,2.395302,48.865042,2.398929
19776,ag933277-381424162,Appartement,1,75020 Paris 20e (Gambetta),39,445900,Gambetta,Quartier du Père-Lachaise,75020,48.864933,2.398054,48.863752,2.395302,48.865042,2.398929

In [30]:
# Supprimer les lignes sans arrondissement
df_cleaned = df.dropna(subset=['loc3'], how='all')
print(len(df_cleaned))

10101

In [31]:
#Save dictionnary in case of
import dill as pickle
with open("coordonnees_adresse.pkl", "wb") as file:
    pickle.dump(coordonnees_adresse, file)
with open("dict_zone.pkl", "wb") as file:
    pickle.dump(dict_zone, file)

In [32]:
import s3fs
import pandas as pd

# Initialize the S3 filesystem with your endpoint
fs = s3fs.S3FileSystem(client_kwargs={"endpoint_url": "https://minio.lab.sspcloud.fr"})

# Define your bucket and target path
MY_BUCKET = "jhajjar"
target_path = f"{MY_BUCKET}/Diffusion/clean_data.csv"

# Assuming 'df' is your DataFrame
try:
    # Open the target path in write mode using s3fs
    with fs.open(target_path, 'w') as f:
        # Write the DataFrame directly to S3 as a CSV
        df_cleaned.to_csv(f, index=False)
    print(f"DataFrame successfully uploaded to {target_path}")
except Exception as e:
    print(f"Error uploading DataFrame: {e}")

DataFrame successfully uploaded to jhajjar/Diffusion/clean_data.csv

In [33]:
df_cleaned.to_csv("clean_data.csv", index=False)