In [1]:
import pandas as pd
df = pd.read_csv("listings.csv", names=["id", "Type", "Nb_chambre", "loc", "surface", "prix"], header=0).drop_duplicates()

In [127]:
location

Location(Europe, Rue de Madrid, Quartier de l'Europe, Paris 8e Arrondissement, Paris, Île-de-France, France métropolitaine, 75008, France, (48.8787706, 2.3222823, 0.0))

In [99]:
location

In [131]:
#Handle the type
df['id'] = df['id'].astype(str)
df['Type'] = df['Type'].astype(str)
df['Nb_chambre'] = pd.to_numeric(df['Nb_chambre'], errors='coerce').astype('Int64')
df['loc'] = df['loc'].astype(str)
df['surface'] = pd.to_numeric(df['surface'], errors='coerce').astype('Int64')
df['prix'] =pd.to_numeric(df['prix'].str.replace(' ', '').str.replace('€', ''), errors='coerce').astype('Int64')

In [132]:
df.dtypes

id            object
Type          object
Nb_chambre     Int64
loc           object
surface        Int64
prix           Int64
dtype: object

In [2]:
#Gerer les NAN
df.loc[(df['Type'] == 'Studio') & (pd.isnull(df['Nb_chambre'])), 'Nb_chambre'] = 1
df

,id,Type,Nb_chambre,loc,surface,prix
0,apimo-85473173,Appartement,1.0,75001 Paris 1er (Châtelet - Les Halles),29.0,364 000 €
1,hektor-Les-4-Quartiers-383,Appartement,1.0,75001 Paris 1er (Châtelet - Les Halles),23.0,301 000 €
2,hektor-PARISLUXURYHOMES-4007,Appartement,5.0,75002 Paris 2e (Palais Royal),106.0,2 490 000 €
3,ag754594-448898324,Studio,1.0,75001 Paris 1er (Saint-Germain - L'Auxerrois),27.0,365 000 €
5,keller-williams-1-34_1_53-180645,Appartement,2.0,75001 Paris 1er (Vendôme),67.0,1 190 000 €
...,...,...,...,...,...,...
9762,apimo-6951400,Appartement,4.0,75020 Paris 20e (Plaine - Lagny),89.0,599 000 €
9763,apimo-6810785,Appartement,2.0,75020 Paris 20e (Gambetta),40.0,302 000 €
9764,immo-facile-49166437,Appartement,3.0,75020 Paris 20e (Père Lachaise - Réunion),67.0,769 000 €
9765,immo-facile-48762452,Appartement,3.0,75020 Paris 20e (Télégraphe - Pelleport - Sain...,57.0,519 000 €
9766,hektor-BELMONTLATOUR2021-157,Maison,8.0,75020 Paris 20e (Gambetta),275.0,2 700 000 €

In [3]:
#Supprimer les lignes restantes avec des NaN
df=df.dropna()

In [4]:
df

,id,Type,Nb_chambre,loc,surface,prix
0,apimo-85473173,Appartement,1.0,75001 Paris 1er (Châtelet - Les Halles),29.0,364 000 €
1,hektor-Les-4-Quartiers-383,Appartement,1.0,75001 Paris 1er (Châtelet - Les Halles),23.0,301 000 €
2,hektor-PARISLUXURYHOMES-4007,Appartement,5.0,75002 Paris 2e (Palais Royal),106.0,2 490 000 €
3,ag754594-448898324,Studio,1.0,75001 Paris 1er (Saint-Germain - L'Auxerrois),27.0,365 000 €
5,keller-williams-1-34_1_53-180645,Appartement,2.0,75001 Paris 1er (Vendôme),67.0,1 190 000 €
...,...,...,...,...,...,...
9762,apimo-6951400,Appartement,4.0,75020 Paris 20e (Plaine - Lagny),89.0,599 000 €
9763,apimo-6810785,Appartement,2.0,75020 Paris 20e (Gambetta),40.0,302 000 €
9764,immo-facile-49166437,Appartement,3.0,75020 Paris 20e (Père Lachaise - Réunion),67.0,769 000 €
9765,immo-facile-48762452,Appartement,3.0,75020 Paris 20e (Télégraphe - Pelleport - Sain...,57.0,519 000 €
9766,hektor-BELMONTLATOUR2021-157,Maison,8.0,75020 Paris 20e (Gambetta),275.0,2 700 000 €

##### Uniformiser le format des localisation
df_ = df.copy()
df_[['code_postal', 'parentheses']] = df_['loc'].str.extract(r'(\d{5}).*?\((.*?)\)')
df_['concat'] = df_['code_postal'] + ' ' + df_['parentheses'].fillna('')
df_['loc'] = df_['concat'].where(df_['parentheses'].notna(), df_['loc'])
df_.drop(columns=['code_postal', 'parentheses', 'concat'], inplace=True)

df_[['code_postal', 'parentheses']] = df_['loc'].str.extract(r'(\d{1,2})e.*?\((.*?)\)')
df_['concat'] = '750'+df_['code_postal'][:-2] + ' ' + df_['parentheses'].fillna('')
df_['loc'] = df_['concat'].where(df_['parentheses'].notna(), df_['loc'])
df_.drop(columns=['code_postal', 'parentheses', 'concat'], inplace=True)


df_=df_["loc"].drop_duplicates()
df_

In [19]:
# Uniformiser le format des localisation
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 10)
df_ = df.copy()
df_[['parentheses']] = df_['loc'].str.extract(r'\((.*?)\)')
df_['concat'] = df_['parentheses'].fillna('')
df_['loc'] = df_['concat'].where(df_['parentheses'].notna(), df_['loc'])
df_.drop(columns=['parentheses', 'concat'], inplace=True)

df_[['parentheses']] = df_['loc'].str.extract(r'^(.*?)\s*\s-')
df_['concat'] = df_['parentheses'].fillna('')
df_['loc'] = df_['concat'].where(df_['parentheses'].notna(), df_['loc'])
df_.drop(columns=['parentheses', 'concat'], inplace=True)

df_zones=df_["loc"].drop_duplicates().copy()
df=df_.copy()

In [125]:
from geopy.geocoders import Nominatim
from functools import partial
geolocator = Nominatim(user_agent="testing")
geocode = partial(geolocator.geocode, language="fr")
geocode_with_paris = lambda query: geolocator.geocode("%s, Paris FR" % query)

In [20]:
for zone in df_zones:
    print(zone)

Châtelet
Palais Royal
Saint-Germain
Vendôme
Gaillon
Saint-Thomas d'Aquin
75001 Paris 1er
Sentier
Montorgueil
75002 Paris 2e
Arts-et-Métiers
Sainte-Avoye
Archives
75003 Paris 3e
Enfants Rouges
République
Saint-Merri
Arsenal
75004 Paris 4e
Les Iles
Saint-Gervais
75000 Paris
Monge
Jardin des Plantes
Val de Grâce
Sorbonne
Rennes
Montparnasse
Saint-Germain des Près
Odéon
Saint-Placide
Notre Dame des Champs
75006 Paris 6e
Saint-Michel
Hoche Friedland
Elysée
Monceau
Triangle d'Or
Europe
Saint-Philippe du Roule
Mairie
75008 Paris 8e
Clichy
Grands Boulevards
Lorette
Opéra
Trudaine
Porte Saint-Martin
75009 Paris 9e
Saint-Vincent de Paul
Château d'Eau
Goncourt
Canal Saint-Martin
Louis Blanc
Belleville
75010 Paris 10e
Nation
Léon-Blum
75011 Paris 11e
Bastille
75012 Paris 12e
Bel-Air
Aligre
Vallée de Fecamp
Jardin de Reuilly
Bercy
Olympiades
Croulebarbe
Bièvre Sud
Patay
Nationale
Salpétrière
Butte-aux-Cailles
Bibliothèque
75013 Paris 13e
94200 Ivry-sur-Seine
Pernety
Jean Moulin
Didot
Montsouris
75014 Paris 14e
Mouton
Alleray
Cambronne
Vaugirard
75015 Paris 15e
Saint-Lambert
Emeriau
Citroën
Violet
Dupleix
Georges Brassens
Pasteur
Breteuil
92170 Vanves
Porte de Saint-Cloud
Chaillot
Muette-Nord
Dauphine
Passy
Auteuil-Nord
75016 Paris 16e
75116 Paris 16e
Champerret
Epinettes
Legendre
Pereire
Batignolles
Courcelles
75017 Paris 17e
La Fourche
Ternes
Porte de Clichy
Grandes Carrières
Jules Joffrin
La Chapelle
Montmartre
Simplon
Barbès
Porte de la Chapelle
Porte de Clignancourt
75018 Paris 18e
Porte des Lilas
Danube
Secrétan
75019 Paris 19e
La Villette
Flandre
Bassin de la Villette
Jourdain
Mouzaia
Buttes Chaumont
Porte de la Villette
Télégraphe
Gambetta
75020 Paris 20e
Ménilmontant
Père Lachaise
Plaine
Saint-Blaise

In [75]:
#Gerer les champs non conventionnels
df.loc[df['loc'].str.contains('Châtelet - Les Halles', case=False, na=False), 'loc'] = '75001 Châtelet - Les Halles'
df.loc[df['loc'].str.contains('Aligre - Gare de Lyon', case=False, na=False), 'loc'] = '75012 Aligre - Gare de Lyon'

In [78]:
df_=df["loc"].drop_duplicates()
df_['pattern'] = df_.str.extract(r'\d{5}\s(.*)')
pattern_counts = df_['pattern'].value_counts()
pattern_counts[pattern_counts > 1]

Europe                                     4
Clichy - Trinité                           4
Passy - Maison de la Radio - Muette-Sud    3
Notre Dame des Champs                      3
Vaugirard - Parc des Expositions           3
Chaillot                                   3
Montorgueil - Etienne Marcel               3
Saint-Vincent de Paul - Lariboisière       3
Croulebarbe                                3
Porte Saint-Martin - Paradis               3
Sainte-Avoye                               3
Pasteur - Montparnasse                     3
Belleville - Saint-Maur                    3
Grandes Carrières - Clichy                 2
Goncourt - Canal Saint-Martin              2
Paris 16e                                  2
Rennes                                     2
Gaillon - Vivienne                         2
Nation - Alexandre Dumas                   2
République - Saint-Ambroise                2
Mouzaia                                    2
Grands Boulevards                          2
Muette-Nord - Trocadéro                    2
Nation - Picpus                            2
Porte de Saint-Cloud - Auteuil-Sud         2
Jourdain - Pyrénées                        2
Montsouris - Dareau                        2
La Chapelle - Marx Dormoy                  2
Montparnasse - Raspail                     2
Legendre - Lévis                           2
Plaine - Lagny                             2
Louis Blanc - Aqueduc                      2
Pereire                                    2
Mairie                                     2
Saint-Germain - L'Auxerrois                2
Dauphine                                   2
Saint-Gervais                              2
Salpétrière - Austerlitz                   2
Archives                                   2
Auteuil-Nord - Jasmin - Mirabeau           2
Télégraphe - Pelleport - Saint-Fargeau     2
Trudaine - Rochechouart                    2
Belleville                                 2
Ternes - Maillot                           2
Sorbonne - Quartier Latin                  2
Palais Royal                               2
Monceau - Malesherbes                      2
Cambronne - Garibaldi                      2
Château d'Eau - Lancry                     2
Courcelles - Wagram                        2
Saint-Philippe du Roule                    2
Montmartre - Sacré Coeur - Abbesses        2
Saint-Merri                                2
Name: count, dtype: int64

In [23]:
df_=df["loc"].loc[df['loc'].str.contains(r'\(', case=False, na=False)]
df_['pattern'] = df_.str.extract(r'\((.*?)\)')
pattern_counts = df_['pattern'].value_counts()
pattern_counts[pattern_counts > 1]

Porte de Saint-Cloud - Auteuil-Sud            303
Dauphine                                      221
Vaugirard - Parc des Expositions              206
Jules Joffrin                                 204
Auteuil-Nord - Jasmin - Mirabeau              192
                                             ...
Val de Grâce                                    9
Jardin des Plantes                              7
Sorbonne - Quartier Latin                       5
Monge - Jussieu                                 5
Saint-Thomas d'Aquin - Bac - Musée d'Orsay      2
Name: count, Length: 120, dtype: int64

In [63]:
non_matching_rows = df[~df['loc'].str.contains(r'\d{5}.*?\(.*?\)', na=False, regex=True)]
non_matching_rows["loc"].drop_duplicates()

80                                       75001 Paris 1er
155                                       75002 Paris 2e
311                                       75003 Paris 3e
518                                       75004 Paris 4e
692                                          75000 Paris
874                                       75006 Paris 6e
1186                                      75008 Paris 8e
1535                                      75009 Paris 9e
1948                                     75010 Paris 10e
2164                                     75011 Paris 11e
2752                                     75012 Paris 12e
3311                                     75013 Paris 13e
3733    Paris 13e (Bibliothèque - Dunois - Jeanne d'Arc)
3778                    Paris 13e (Bièvre Sud - Tolbiac)
3782                                94200 Ivry-sur-Seine
3830                                     75014 Paris 14e
4363                                     75015 Paris 15e
5102                                        92170 Vanves
5367                                     75016 Paris 16e
5602                                     75116 Paris 16e
6660                                     75017 Paris 17e
7664                                     75018 Paris 18e
8537                                     75019 Paris 19e
8996                    Paris 19e (Porte de la Villette)
9098                                     75020 Paris 20e
Name: loc, dtype: object

In [16]:
df

,id,Type,Nb_chambre,loc,surface,prix
0,apimo-85473173,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),29,364000
1,hektor-Les-4-Quartiers-383,Appartement,1,75001 Paris 1er (Châtelet - Les Halles),23,301000
2,hektor-PARISLUXURYHOMES-4007,Appartement,5,75002 Paris 2e (Palais Royal),106,2490000
3,ag754594-448898324,Studio,1,75001 Paris 1er (Saint-Germain - L'Auxerrois),27,365000
5,keller-williams-1-34_1_53-180645,Appartement,2,75001 Paris 1er (Vendôme),67,1190000
...,...,...,...,...,...,...
9762,apimo-6951400,Appartement,4,75020 Paris 20e (Plaine - Lagny),89,599000
9763,apimo-6810785,Appartement,2,75020 Paris 20e (Gambetta),40,302000
9764,immo-facile-49166437,Appartement,3,75020 Paris 20e (Père Lachaise - Réunion),67,769000
9765,immo-facile-48762452,Appartement,3,75020 Paris 20e (Télégraphe - Pelleport - Sain...,57,519000
9766,hektor-BELMONTLATOUR2021-157,Maison,8,75020 Paris 20e (Gambetta),275,2700000